*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    }
    .container-fluid, .container{
        text-align: center;
        
    }
    .container1-fluid{
        background-image: url(images/pic1.jpg);
        min-height: 30vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    
    nav{
        background: black;
         opacity: 0.7;
    }
    nav a{
        color: white !important;
        padding: 10px;
        font-weight: bold;
    }
    #sub h1{
        font-size:70px;
        font-family: 'Dancing Script', cursive;
        color: rgba(250, 3, 15, 0.904);
        font-weight: bolder;
        padding-top:10%;
    }
 
 #we{
     font-size: 26px;
     
 }
    
#lo,  #us, #de, #code, p{
    font-weight: lighter;
    font-size:14px;
}

input{
    width:90%;
    font-size: small;
    background: rgb(233, 233, 110);
    border: 0;
}
#bt{
    width: 65%;
}
#img{
    height:150px;
}
i{
    font-size:x-large;
    color: white;
    font-weight: lighter;
}
#bs, #as, #cs, #ds{
    color: gray;
}
#over, #er, #ol{
    margin-top:40%;
    background-color: rgb(4, 78, 100);
    opacity: 0.7;
    color:rgb(255, 255, 255);
   
}
.container-fluid1{
 
    background: url("images/pic16.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;


}
.container1-fluid{
    background:url("images/pic1.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}
#l{
    width:50%;
    background: white;
   
}
.text-start1{
    padding-bottom: 120px;
    padding-left:18px;
}
.m-3{
    text-decoration: none;
    color: white;
   
}






    





   


  

 
